
body {
    color: #575f65;
    font-family:Monospace;
    font-size:13px;
    text-align:center;

    background-color: #f4f4f4;
}

#info {
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;
    margin-top: 2em;
    color: #0093FF;
    font-size: 2em;
}

#container{
    background-color: #525252;
}

a {

    color: #0080ff;
}

div.grid-box{
 padding-right: 1em;   
 padding-left: 1em;   
}